main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 191px;
    background-color: var(--color-black);
    padding: 100px 0;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content-main h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-white);
}

.content-main h1 span {
    color: var(--color-primary);
}
.content-main img {
    width: 430px;
    height: 126px;
}

.container-btn-main{
    display: flex;
    gap: 10px;
}